<div class='wrapper'>
  <section class='box homebg'>
    <div class="centerbox title-advertise">
      <h1>Taller gratuito para entusiastas</h1>
      <h2>Da el paso e inicia tu camino en el mundo del desarrollo</h2>
    </div>
    <h2 class='duration_at'>Nov. 16 - Dic. 10</h2>
    <p class="buttoninterest">
      <a class="button filled" href="#" title="Sign Up">Me interesa!</a>
    </p>
  </section>

  <section class='box target'>
    <div class="description-box">
        <p>Dirigido a toda persona(mayor de 16 años) sin distinción de género, con ganas de aprender a crear aplicaciones de una manera práctica y sencilla #SinLlorar :’)</p>
      </div>
  </section>

  <section class='wrapp-courses'>
    <div class="courses">
      <h2>Aprende de una manera rapida y practica</h2>
      <div id="columns">
        <div class='course basic'>
          <img src="images/logos/basic.png" />
          <h3>Basico</h3>
          <p>
            Master your Ruby skills and increase your Rails street a by learning to build dynamic, sustainable applications for the web.
          </p>
        </div>

        <div class='course javascript'>
          <img src="images/logos/javascript.png" />
          <h3>Javascript</h3>
          <p>
            Master your Ruby skills and increase your Rails street a by learning to build dynamic, sustainable applications for the web.
          </p>
        </div>

        <div class='course html'>
          <img src="images/logos/html.png" />
          <h3>HTML</h3>
          <p>
            Master your Ruby skills and increase your Rails street a by learning to build dynamic, sustainable applications for the web.
          </p>
        </div>

        <div class='course ruby'>
          <img src="images/logos/ruby.png" />
          <h3>Ruby</h3>
          <p>
            Master your Ruby.
          </p>
        </div>

        <div class='course css'>
          <img src="images/logos/css.png" />
          <h3>CSS</h3>
          <p>
            Master your Ruby skills and increase your Rails street a by learning to build dynamic, sustainable applications for the web.
          </p>
        </div>

        <div class='course extra'>
          <img src="images/logos/extra.png" />
          <h3>Extra</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed feugiat consectetur pellentesque. Nam ac elit risussssss
            ss shsjhs shsj shsj sjs shsjshj ss
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class='info'>
    <div class="content">
      <div>
        <img src="images/icon-pdf.png" alt="">
        <span class='show-pdf'>Ver contenido General</span>
      </div>

      <p class='description'>El taller constará de 5 sesiones, comienza el 26 de noviembre, será los miércoles de 7:00 p.m a 9:00 p.m. y los sábados de 10:00 a.m. a 12:00 a.m. , totalmente gratuito.</p>

      <div>
        <img src="/images/map.png" alt="Red leaf" title="Red Leaf" />
        <span>Av. San Borja Sur 754 - San Borja - Lima
          (Referencia: entre las Avenidas Aviación Cdra. 31 y San Luis Cdra. 25.)</span>
      </div>
    </div>
  </section>
</div>