<div class='wrapper'>
  <section class='box homebg'>
    <div class="centerbox title-advertise">
      <h1>Taller gratuito para entusiastas</h1>
      <h2>Da el paso e inicia tu camino en el mundo del desarrollo</h2>
    </div>
    <h2 class='duration_at'>Nov. 16 - Dic. 10</h2>
    <p class="buttoninterest">
      <a class="button filled" href="#" title="Sign Up">Me interesa!</a>
    </p>
  </section>

  <section class='box target'>
    <div class="description-box">
        <p>Dirigido a toda persona(mayor de 16 años) sin distinción de género, con ganas de aprender a crear aplicaciones de una manera práctica y sencilla #SinLlorar :’)</p>
      </div>
  </section>


  <section class='courses'>
    <div id="columns">
      <div class="course">
        <img src="images/logos/basic.png" />
        <h3 class='basic'>Basico</h3>
        <p>
          Master your Ruby skills and increase your Rails street a by learning to build dynamic, sustainable applications for the web.
        </p>
      </div>

      <div class="course">
        <img src="images/logos/html.png" />
        <h3 class='html'>HTML</h3>
        <p>
          Master your Ruby skills and increase your Rails street a by learning to build dynamic, sustainable applications for the web.
        </p>
      </div>

      <div class="course">
        <img src="images/logos/css.png" />
        <h3 class='css'>CSS</h3>
        <p>
          Master your Ruby skills and increase your Rails street a by learning to build dynamic, sustainable applications for the web.
        </p>
      </div>

      <div class="course">
        <img src="images/logos/javascript.png" />
        <h3 class='javascript'>Javascript</h3>
        <p>
          Master your Ruby skills and increase your Rails street a by learning to build dynamic, sustainable applications for the web.
        </p>
      </div>

      <div class="course">
        <img src="images/logos/ruby.png" />
        <h3 class='ruby'>Ruby</h3>
        <p>
          Master your Ruby skills and increase your Rails street a by learning to build dynamic, sustainable applications for the web.
        </p>
      </div>

      <div class="course">
        <img src="images/logos/extra.png" />
        <h3 class='extra'>Extra</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed feugiat consectetur pellentesque. Nam ac elit risus,
          ac blandit dui. Duis rutrum porta tortor ut.ss
        </p>
      </div>
    </div>
  </section>
</div>