<div class='wrapper'>
  <section class='box homebg'>
    <div class="centerbox title-advertise">
      <h1>Taller gratuito para entusiastas</h1>
      <h2>Da el paso e inicia tu camino en el mundo del desarrollo</h2>
    </div>
    <h2 class='duration_at'>Nov. 16 - Dic. 10</h2>
    <p class="buttoninterest">
      <a class="button filled" href="#" title="Sign Up">Me interesa !</a>
    </p>
  </section>

  <section class='box target'>
    <div class="description-box">
        <p>Dirigido a toda persona(mayor de 16 años) sin distinción de género, con ganas de aprender a crear aplicaciones de una manera práctica y sencilla #SinLlorar :’)</p>
      </div>
  </section>


  <section class='box courses'>
    <!-- <div class="centerbox homepage-modules"> -->
      <div class="row">
        <div class="col6">
          <div class="card"></div>
        </div>
        <div class="col6">
          <div class="card"></div>
        </div>
      </div>
    <!-- </div> -->
  </section>
</div>